bom_by_*.txt
*~
*.csv
*.pyc
*.pyds
*.pyl
*.bak
*.egg-info/
*,cover
.pyp
.coverage
.mypy_cache/
build/
dist/
order/
searches/
# Old files not under source control:
database.py
find_chips.py
octopart.py
parametric.py
snap_eda.py


